.coreTeam,
.webTeam,
.videographyTeam,
.mediaTeam,
.photographyTeam {
  flex-direction: column-reverse;
  width: 90%;
}
.leftContent {
  width: 90%;
  text-align: center;
  gap: 0;
}
.section1 h2{
  font-size: 6vw;
  text-align: center;
}
.rightContent {
  width: 80%;
}
.section2 img{
  height: 320px;
}
.section2 h4{
  font-size: 2.6vw;
}
.section1 .content {
  font-size: 3vw;
}