.coreTeam,
.webTeam,
.videographyTeam,
.mediaTeam,
.photographyTeam {
  flex-direction: column-reverse;
  width: 90%;
}
.leftContent {
  width: 90%;
  text-align: center;
  gap: 0;
}
.section1 h2 {
  font-size: 6vw;
  text-align: center;
}
.rightContent {
  width: 80%;
}

.section2 h4 {
  font-size: 2.6vw;
}
.section1 .content {
  font-size: 3vw;
}

.banner img {
  width: 90vw;
}
@media screen and (max-width: 770px) {


  .split-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-section {
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .image-section img {
    min-width: 400px;
    
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .content-section {
    text-align: center;
    margin-top: 20px;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefit-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  .timeline {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .split-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    padding: 13px;
  }

  .image-section {
    image-section {
      width: 220px;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  }

  .image-section img {
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  }
  .image-section img:hover{
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 255, 180, 0.3);
  }

  .content-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0 1rem;
  }

  .benefits {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .benefit-item {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .timeline{
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .timeline-wrapper {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .step {
    align-items: center;
    margin-bottom: 12px;
  }
}
